<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Random Beer</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>

<body>
<section class="hero is-dark is-fullheight has-text-centered"
         style="background-image: url(static/img_1.png); background-size:cover; background-blend-mode: soft-light">

    <div class="hero-body">
        <div class="container has-text-centered">
            <div>
                <p class="title">Random Beer App</p>
            </div>
            <br>
            <div>
                <p class="subtitle">What will it be?</p>
            </div>
        </div>
    </div>
    <div class="container has-text-centered">
        <button class="button is-dark is-inverted is-outlined is-rounded has-text-centered"
                onclick="window.location.reload()">
            <h4 style="color:white;">Press me for a new beer!</h4>
        </button>
    </div>

    <section class="container is-italic has-text-centered ">
        <div class="content">
            <h1 style="color: white;">Beer name: {{beer.name}}</h1>
            <h4 style="color: white;">Alcohol Percentage: {{beer.abv}}%</h4>
            <h4 style="color: white;">Description:</h4>
            <p>{{beer.desc}}</p>
            <h4 style="color: white;">Dinner suggestions:</h4>
            <p>{{beer.food_pair}}</p>
        </div>
    </section>


</section>
</body>
</html>


